@page
@model CS3750Assignment1.Pages.Registrations.DeleteModel

@{
    ViewData["Title"] = "Drop " + Model.CourseName + "?";
}

<h1>Drop @Model.CourseName :(</h1>

<h3>Are you sure you want to drop this class?</h3>
<div>
    <form method="post">
        <input type="hidden" asp-for="Registration.CourseID" />
        <input type="submit" value="Drop" class="btn btn-danger" />
        <a asp-page="/WelcomeStudent" class="btn btn-secondary">Back to Dashboard</a>
    </form>
</div>
