@page
@model CS3750Assignment1.Pages.CancelModel
@{
    ViewData["Title"] = "Payment Canceled";
	Layout = "_Layout";
}

<h1>Payment Canceled</h1>
<p>Your payment was canceled. Please try again if you wish to complete the payment.</p>
<a asp-page="/Tuition" class="btn btn-primary">Back to Tuition</a>
