@page
@model IndexModel
@{
    ViewData["Title"] = "Log In Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post">
        <legend>Please log in</legend>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" asp-for="username" class="form-control" />
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" asp-for="password" class="form-control" />
        </div>
        <div>
            <label>&nbsp;</label>
            <input type="submit" value="Log In" class="btn btn-primary" />
        </div>
    </form>
    <a asp-page="SignUp2">Don't have an account? Sign up!</a>
</div>