@page
@model CS3750Assignment1.Pages.PaymentSuccessModel
@{
    ViewData["Title"] = "Payment Success";
    Layout = "_Layout";
}

<h2>Payment Successful</h2>
<p>Your payment was successful. Thank you!</p>
@*<a asp-page="/Tuition" class="btn btn-primary">Back to Tuition Page</a>*@
