@page
@model CS3750Assignment1.Pages.SignUp2Model

@{
    ViewData["Title"] = "Sign Up Page";
}

<h1>Sign up</h1>

<h4>Account Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.FirstName" class="control-label">First name</label>
                <input asp-for="Account.FirstName" class="form-control" />
                <span asp-validation-for="Account.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.LastName" class="control-label">Last name</label>
                <input asp-for="Account.LastName" class="form-control" />
                <span asp-validation-for="Account.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Birthdate" class="control-label">Birthdate</label>
                <input asp-for="Account.Birthdate" class="form-control" />
                <span asp-validation-for="Account.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Email" class="control-label"></label>
                <input asp-for="Account.Email" class="form-control" />
                <span asp-validation-for="Account.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Username" class="control-label"></label>
                <input asp-for="Account.Username" class="form-control" />
                <span asp-validation-for="Account.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.Password" class="control-label"></label>
                <input asp-for="Account.Password" class="form-control" />
                <span asp-validation-for="Account.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Account.PasswordConfirmation" class="control-label">Confirm Password</label>
                <input asp-for="Account.PasswordConfirmation" id="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="Account.PasswordConfirmation" class="text-danger"></span>
            </div>
            @*Radio buttons for the Instructor/Student selection*@
            <div class="form-group">
                <span class="text-danger">*</span>
                <label class="control-label">User Role</label><br />
                <div>
                    <input type="radio" asp-for="Account.AccountRole" value="Instructor" id="instructor" />
                    <label for="instructor">Instructor</label>
                </div>
                <div>
                    <input type="radio" asp-for="Account.AccountRole" value="Student" id="student" />
                    <label for="student">Student</label>
                </div>
                <span asp-validation-for="Account.AccountRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign Up" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to Log in page</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}