@page
@model CS3750Assignment1.Pages.SuccessModel
@{
    ViewData["Title"] = "Payment Success";
	Layout = "_Layout";
}

<h1>Payment Successful</h1>
<p>Your payment was processed successfully. Thank you!</p>
<a asp-page="/Tuition" class="btn btn-primary">Back to Tuition</a>