@page
@model CS3750Assignment1.Pages.Courses.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.Name" class="control-label"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.CourseNumber" class="control-label"></label>
                <input asp-for="Course.CourseNumber" class="form-control" />
                <span asp-validation-for="Course.CourseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.Credits" class="control-label"></label>
                <input asp-for="Course.Credits" class="form-control" />
                <span asp-validation-for="Course.Credits" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.Capacity" class="control-label"></label>
                <input asp-for="Course.Capacity" class="form-control" />
                <span asp-validation-for="Course.Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.MeetingDays" class="control-label">Meeting Days</label><br />
                <input asp-for="MeetingSunday" type="checkbox"/>
                <label for="meetingSunday">Sunday</label>
                <input asp-for="MeetingMonday" type="checkbox"/>
                <label for="meetingSunday">Monday</label>
                <input asp-for="MeetingTuesday" type="checkbox"/>
                <label for="meetingSunday">Tuesday</label>
                <input asp-for="MeetingWednesday" type="checkbox"/>
                <label for="meetingSunday">Wednesday</label><br />
                <input asp-for="MeetingThursday" type="checkbox"/>
                <label for="meetingSunday">Thursday</label>
                <input asp-for="MeetingFriday" type="checkbox"/>
                <label for="meetingSunday">Friday</label>
                <input asp-for="MeetingSaturday" type="checkbox"/>
                <label for="meetingSunday">Saturday</label>
                @*<span class="text-danger">*</span>
                <label asp-for="Course.MeetingDays" class="control-label"></label>
                <input asp-for="Course.MeetingDays" class="form-control" />
                <span asp-validation-for="Course.MeetingDays" class="text-danger"></span> @*Original form element for the meetingDays property.*@
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.MeetingTime" class="control-label"></label>
                @Html.DropDownListFor(model => model.MeetingTimeStart, new List<SelectListItem> 
                {
                    new SelectListItem {Text = "12:00am", Value = "12:00am", Selected = true },
                    new SelectListItem {Text = "12:30am", Value = "12:30am" },
                    new SelectListItem {Text = "01:00am", Value = "01:00am" },
                    new SelectListItem {Text = "01:30am", Value = "01:30am" },
                    new SelectListItem {Text = "02:00am", Value = "02:00am" },
                    new SelectListItem {Text = "02:30am", Value = "02:30am" },
                    new SelectListItem {Text = "03:00am", Value = "03:00am" },
                    new SelectListItem {Text = "03:30am", Value = "03:30am" },
                    new SelectListItem {Text = "04:00am", Value = "04:00am" },
                    new SelectListItem {Text = "04:30am", Value = "04:30am" },
                    new SelectListItem {Text = "05:00am", Value = "05:00am" },
                    new SelectListItem {Text = "05:30am", Value = "05:30am" },
                    new SelectListItem {Text = "06:00am", Value = "06:00am" },
                    new SelectListItem {Text = "06:30am", Value = "06:30am" },
                    new SelectListItem {Text = "07:00am", Value = "07:00am" },
                    new SelectListItem {Text = "07:30am", Value = "07:30am" },
                    new SelectListItem {Text = "08:00am", Value = "08:00am" },
                    new SelectListItem {Text = "08:30am", Value = "08:30am" },
                    new SelectListItem {Text = "09:00am", Value = "09:00am" },
                    new SelectListItem {Text = "09:30am", Value = "09:30am" },
                    new SelectListItem {Text = "10:00am", Value = "10:00am" },
                    new SelectListItem {Text = "10:30am", Value = "10:30am" },
                    new SelectListItem {Text = "11:00am", Value = "11:00am" },
                    new SelectListItem {Text = "11:30am", Value = "11:30am" },

                    new SelectListItem {Text = "12:00pm", Value = "12:00pm" },
                    new SelectListItem {Text = "12:30pm", Value = "12:30pm" },
                    new SelectListItem {Text = "01:00pm", Value = "01:00pm" },
                    new SelectListItem {Text = "01:30pm", Value = "01:30pm" },
                    new SelectListItem {Text = "02:00pm", Value = "02:00pm" },
                    new SelectListItem {Text = "02:30pm", Value = "02:30pm" },
                    new SelectListItem {Text = "03:00pm", Value = "03:00pm" },
                    new SelectListItem {Text = "03:30pm", Value = "03:30pm" },
                    new SelectListItem {Text = "04:00pm", Value = "04:00pm" },
                    new SelectListItem {Text = "04:30pm", Value = "04:30pm" },
                    new SelectListItem {Text = "05:00pm", Value = "05:00pm" },
                    new SelectListItem {Text = "05:30pm", Value = "05:30pm" },
                    new SelectListItem {Text = "06:00pm", Value = "06:00pm" },
                    new SelectListItem {Text = "06:30pm", Value = "06:30pm" },
                    new SelectListItem {Text = "07:00pm", Value = "07:00pm" },
                    new SelectListItem {Text = "07:30pm", Value = "07:30pm" },
                    new SelectListItem {Text = "08:00pm", Value = "08:00pm" },
                    new SelectListItem {Text = "08:30pm", Value = "08:30pm" },
                    new SelectListItem {Text = "09:00pm", Value = "09:00pm" },
                    new SelectListItem {Text = "09:30pm", Value = "09:30pm" },
                    new SelectListItem {Text = "10:00pm", Value = "10:00pm" },
                    new SelectListItem {Text = "10:30pm", Value = "10:30pm" },
                    new SelectListItem {Text = "11:00pm", Value = "11:00pm" },
                    new SelectListItem {Text = "11:30pm", Value = "11:30pm" },
                }, new { @class = "form-control" })
                <label>To</label>
                @Html.DropDownListFor(model => model.MeetingTimeEnd, new List<SelectListItem>
                {
                    new SelectListItem {Text = "12:00am", Value = "12:00am", Selected = true },
                    new SelectListItem {Text = "12:30am", Value = "12:30am" },
                    new SelectListItem {Text = "01:00am", Value = "01:00am" },
                    new SelectListItem {Text = "01:30am", Value = "01:30am" },
                    new SelectListItem {Text = "02:00am", Value = "02:00am" },
                    new SelectListItem {Text = "02:30am", Value = "02:30am" },
                    new SelectListItem {Text = "03:00am", Value = "03:00am" },
                    new SelectListItem {Text = "03:30am", Value = "03:30am" },
                    new SelectListItem {Text = "04:00am", Value = "04:00am" },
                    new SelectListItem {Text = "04:30am", Value = "04:30am" },
                    new SelectListItem {Text = "05:00am", Value = "05:00am" },
                    new SelectListItem {Text = "05:30am", Value = "05:30am" },
                    new SelectListItem {Text = "06:00am", Value = "06:00am" },
                    new SelectListItem {Text = "06:30am", Value = "06:30am" },
                    new SelectListItem {Text = "07:00am", Value = "07:00am" },
                    new SelectListItem {Text = "07:30am", Value = "07:30am" },
                    new SelectListItem {Text = "08:00am", Value = "08:00am" },
                    new SelectListItem {Text = "08:30am", Value = "08:30am" },
                    new SelectListItem {Text = "09:00am", Value = "09:00am" },
                    new SelectListItem {Text = "09:30am", Value = "09:30am" },
                    new SelectListItem {Text = "10:00am", Value = "10:00am" },
                    new SelectListItem {Text = "10:30am", Value = "10:30am" },
                    new SelectListItem {Text = "11:00am", Value = "11:00am" },
                    new SelectListItem {Text = "11:30am", Value = "11:30am" },

                    new SelectListItem {Text = "12:00pm", Value = "12:00pm" },
                    new SelectListItem {Text = "12:30pm", Value = "12:30pm" },
                    new SelectListItem {Text = "01:00pm", Value = "01:00pm" },
                    new SelectListItem {Text = "01:30pm", Value = "01:30pm" },
                    new SelectListItem {Text = "02:00pm", Value = "02:00pm" },
                    new SelectListItem {Text = "02:30pm", Value = "02:30pm" },
                    new SelectListItem {Text = "03:00pm", Value = "03:00pm" },
                    new SelectListItem {Text = "03:30pm", Value = "03:30pm" },
                    new SelectListItem {Text = "04:00pm", Value = "04:00pm" },
                    new SelectListItem {Text = "04:30pm", Value = "04:30pm" },
                    new SelectListItem {Text = "05:00pm", Value = "05:00pm" },
                    new SelectListItem {Text = "05:30pm", Value = "05:30pm" },
                    new SelectListItem {Text = "06:00pm", Value = "06:00pm" },
                    new SelectListItem {Text = "06:30pm", Value = "06:30pm" },
                    new SelectListItem {Text = "07:00pm", Value = "07:00pm" },
                    new SelectListItem {Text = "07:30pm", Value = "07:30pm" },
                    new SelectListItem {Text = "08:00pm", Value = "08:00pm" },
                    new SelectListItem {Text = "08:30pm", Value = "08:30pm" },
                    new SelectListItem {Text = "09:00pm", Value = "09:00pm" },
                    new SelectListItem {Text = "09:30pm", Value = "09:30pm" },
                    new SelectListItem {Text = "10:00pm", Value = "10:00pm" },
                    new SelectListItem {Text = "10:30pm", Value = "10:30pm" },
                    new SelectListItem {Text = "11:00pm", Value = "11:00pm" },
                    new SelectListItem {Text = "11:30pm", Value = "11:30pm" },
                }, new { @class = "form-control" })

                <span asp-validation-for="Course.MeetingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Course.Location" class="control-label"></label>
                <input asp-for="Course.Location" class="form-control" />
                <span asp-validation-for="Course.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}